<div class="page-header">
	<h2>User Data</h2>
</div>

<h4><b>Name:</b> {{user.name}}</h4>
<h4><b>Username:</b> {{user.username}}</h4>
<h4><b>Watched Shows:</b></h4>

<table class="table">
    <tr>
        <th>Date Watched</th>
        <th>Name</th>
    </tr>
    <tr ng-repeat="watched in user.show_history">
        <td class="col-md-2" ng-bind="user.format_date(watched.date) | date: 'medium'"></td>
        <td>{{watched.show.name}}</td>
    </tr>
</table>

<h4><b>Watched Media:</b></h4>
<table class="table table-condensed">
    <tr>
        <th>Date Watched</th>
        <th>Name</th>
    </tr>
    <tr ng-repeat="watched in user.media_history">
        <td class="col-md-2" ng-bind="user.format_date(watched.date) | date: 'medium'"></td>
        <td>{{watched.media.name}}</td>
    </tr>
</table>

<h4><b>Queue:</b></h4>
<table class="table table-condensed">
    <tr>
        <th>Name</th>
        <th>Priority</th>
    </tr>
    <tr ng-repeat="watched in user.queue">
        <td>{{watched.name}}</td>
        <td>{{watched.prio}}</td>
    </tr>
</table>
