<div class="page-header">
	<h1>Create Show</h1>
</div>

<form class="form-horizontal" ng-submit="show.saveShow()">

	<div class="form-group">
		<label class="col-sm-2 control-label">Name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="show.showData.name">
		</div>
	</div>

    <div class="form-group">
		<label class="col-sm-2 control-label">Alternative Name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="show.showData.alt_name">
		</div>
	</div>

    <div class="form-group">
		<label class="col-sm-2 control-label">Tags</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="show.showData.tags" ng-list>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Path</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="show.showData.path">
		</div>
	</div>

    <div class="form-group">
		<label class="col-sm-2 control-label">MyAnimeList ID</label>
		<div class="col-sm-6">
			<input type="number" class="form-control" ng-model="show.showData.mal_id">
		</div>
	</div>

    <div class="form-group">
		<label class="col-sm-2 control-label">Status</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="show.showData.status">
		</div>
	</div>

    <div class="form-group">
		<label class="col-sm-2 control-label">Episode Count</label>
		<div class="col-sm-6">
			<input type="number" class="form-control" ng-model="show.showData.episode_count">
		</div>
	</div>

    <div class="form-group">
		<label class="col-sm-2 control-label">Episode Length (minuntes)</label>
		<div class="col-sm-6">
			<input type="number" class="form-control" ng-model="show.showData.episode_length">
		</div>
	</div>

    <div class="form-group">
		<label class="col-sm-2 control-label">Cover Image</label>
		<div class="col-sm-6">
			<input type="string" class="form-control" ng-model="show.showData.cover_image">
		</div>
    </div>

    <div class="form-group">
		<label class="col-sm-2 control-label">Synopsis</label>
		<div class="col-sm-6">
            <textarea class="form-control" ng-model="show.showData.synopsis"></textarea>
		</div>
	</div>

    <div class="form-group">
		<label class="col-sm-2 control-label">Started Airing</label>
		<div class="col-sm-6">
			<input type="date" class="form-control" ng-model="show.showData.started_airing">
		</div>
    </div>

    <div class="form-group">
		<label class="col-sm-2 control-label">Finished Airing</label>
		<div class="col-sm-6">
			<input type="date" class="form-control" ng-model="show.showData.finished_airing">
		</div>
    </div>

    <div class="form-group">
		<label class="col-sm-2 control-label">Rating</label>
		<div class="col-sm-6">
			<input type="number" class="form-control" ng-model="show.showData.rating">
		</div>
    </div>

    <div class="form-group">
		<label class="col-sm-2 control-label">Age Rating</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="show.showData.age_rating">
		</div>
    </div>

    <div class="form-group">
		<label class="col-sm-2 control-label">Genres</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="show.showData.genres" ng-list>
		</div>
    </div>

	<div class="form-group">
	<div class="col-sm-offset-2 col-sm-6">
		<button type="submit" class="btn btn-primary btn-lg btn-block">Create Show</button>
	</div>
	</div>

</form>

<div class="row show-hide-message" ng-show="show.message">
	<div class="col-sm-6 col-sm-offset-2">

		<div class="alert alert-success" ng-if="show.success">
			{{ show.message }}
		</div>

		<div class="alert alert-danger" ng-if="!show.success">
			{{ show.message }}
		</div>

	</div>
</div>
