<div class="page-header">
        <h1>{{show.title}}</h1>

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <dir-pagination-controls></dir-pagination-controls>
        </div>
        <div class="col-xs-4" >
            <label for="search">Search:</label>
            <input ng-model="show.query" id="search" class="form-control" placeholder="Animu...">
        </div>
        <div class="col-xs-1">
            <label for="perPage"># Page:</label>
            <input type="number" min="1" max="100" class="form-control" id="perPage" ng-model="show.perPage">
        </div>
    </div>
    </br>
</div>

<div class="jumbotron text-center" ng-show="show.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading Shows...</p>
</div>

<div class='md-content-padding' layout="row" layout-wrap>
    <md-card style="width: 18%;" dir-paginate="series in show.shows | filter: show.query | orderBy: '+name' | itemsPerPage: show.perPage">
        <a ng-href="/{{show.tag}}/{{ series.name }}" >
            <img height="310" width="225" class="md-card-image" ng-src="assets/video/{{series.path}}/{{series.cover_image}}"/>
        </a>
        <md-card-content>
            <h5>{{series.name}}</h5>
        </md-card-content>
    </md-card>
</div>

<div class="text-center">
    <dir-pagination-controls></dir-pagination-controls>
<div>



