<div class="page-header">
	<h1>
		Shows
		<a href="/shows/create" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span>
			New Show
		</a>
	</h1>

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <dir-pagination-controls></dir-pagination-controls>
        </div>
        <div class="col-xs-4" >
            <label for="search">Search:</label>
            <input ng-model="show.query" id="search" class="form-control" placeholder="Animu...">
        </div>
        <div class="col-xs-1">
            <label for="perPage"># Page:</label>
            <input type="number" min="1" max="100" class="form-control" id="perPage" ng-model="show.perPage">
        </div>
    </div>
    </br>
</div>

<div class="jumbotron text-center" ng-show="show.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading Shows...</p>
</div>

<table class="table table-bordered table-striped" ng-show="show.shows">
	<thead>
		<tr>
			<th>_id</th>
			<th>Name</th>
			<th>Path</th>
			<th>Tags</th>
			<th>Episode Count</th>
			<th class="col-md-3"></th>
		</tr>
	</thead>
	<tbody>
		<tr dir-paginate="series in show.shows | filter: show.query | orderBy: '+name' | itemsPerPage: show.perPage">
			<td>{{ series._id }}</td>
			<td>{{ series.name }}</td>
			<td>{{ series.path }}</td>
			<td>{{ series.tags }}</td>
            <td>{{ series.episode_count }}</td>
			<td class="col-md-3">
				<a ng-href="/shows/{{ series.name }}" class="btn btn-success">Show</a>
				<a ng-href="/shows/edit/{{ series.name }}" class="btn btn-danger">Edit</a>
				<a href="#" ng-click="show.deleteShow(series.name)" class="btn btn-primary">Delete</a>
			</td>
		</tr>
	</tbody>
</table>

<div class="text-center">
    <dir-pagination-controls></dir-pagination-controls>
<div>
