<div class="page-header">
	<h1>
		Media
		<a href="/media/create" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span>
			New Media
		</a>
	</h1>

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <dir-pagination-controls></dir-pagination-controls>
        </div>
        <div class="col-xs-4" >
            <label for="search">Search:</label>
            <input ng-model="media.query" id="search" class="form-control" placeholder="Media...">
        </div>
        <div class="col-xs-1">
            <label for="perPage"># Page:</label>
            <input type="number" min="1" max="100" class="form-control" id="perPage" ng-model="media.perPage">
        </div>
    </div>
    </br>
</div>

<div class="jumbotron text-center" ng-show="media.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading Media...</p>
</div>

<table class="table table-bordered table-striped" ng-show="media.media">
	<thead>
		<tr>
			<th>_id</th>
			<th>Name</th>
            <th>Show id</th>
			<th>Seq</th>
			<th class="col-md-3"></th>
		</tr>
	</thead>
	<tbody>
		<tr dir-paginate="episode in media.media | filter: media.query | orderBy: '+show.name' | itemsPerPage: media.perPage">
			<td>{{ episode._id }}</td>
			<td>{{ episode.name }}</td>
			<td>{{ episode.show }}</td>
			<td>{{ episode.seq }}</td>
			<td class="col-md-3">
				<a ng-href="/media/{{ episode.name }}" class="btn btn-success">Show</a>
				<a ng-href="/media/edit/{{ episode.name }}" class="btn btn-danger">Edit</a>
				<a href="#" ng-click="media.deleteMedia(episode.name)" class="btn btn-primary">Delete</a>
			</td>
		</tr>
	</tbody>
</table>
<div class="text-center">
    <dir-pagination-controls></dir-pagination-controls>
</div>
