<div class="page-header">
	<h2>Recently Watched</h2>
</div>
<h4><b>Watched Shows:</b></h4>

<table class="table">
    <tr>
        <th>Date Watched</th>
        <th>Name</th>
    </tr>
    <tr ng-repeat="watched in me.user_data.show_history">
        <td class="col-md-2" ng-bind="me.format_date(watched.date) | date: 'medium'"></td>
        <td>{{watched.show.name}}</td>
    </tr>
</table>

<h4><b>Watched Media:</b></h4>
<table class="table table-condensed">
    <tr>
        <th>Date Watched</th>
        <th>Name</th>
    </tr>
    <tr ng-repeat="watched in me.user_data.media_history">
        <td class="col-md-2" ng-bind="me.format_date(watched.date) | date: 'medium'"></td>
        <td>{{watched.media.name}}</td>
    </tr>
</table>
